body {
    background: #092454;
}
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 1.8rem;
    color: white;
}
.btn {
    color: white;
    background: red;
}
#informacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: cadetblue;
    color: black;
    border-radius: 10px;
    margin-top: 30px;
}
input {
    background: none;
    color: white;
    border: none;
    border-bottom: 1px solid white;
}
@media (max-width: 500px) {
    h1{
        font-size: 50px;
    }
}
@media (max-width: 400px) {
    h1{
        font-size: 30px;
    }
    .btn {
        font-size: 10px;
    }
}
@media (max-width: 305px) {
    #container{
        padding: 0px;
    }
    h1{
        font-size: 20px;
    }
    .btn {
        font-size: 8px;
    }
    #container {
        padding: 1rem 1rem 1rem;
        color: white;
    }
    #lugar{
        font-size: 20px;
    }
    #temperatura{
        font-size: 20px;
    }
    #cielo{
        font-size: 20px;
    }
    input {
        width: 100px;
    }
}